<!DOCTYPE html>
<html>
<head>

<h1>Nelisa Spaza</h1>

  <title>Handlebars</title>
</head>
<body>
  {{#listOfProducts}}
  <p> The {{description}} is {{product}} : {{quantity}} </p>
  {{/listOfProducts}}
</body>
</html>
