<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="/style.css">
<title>Nelisa Spaza</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Nelisa Spaza</a>
	    </div>
	    <ul class="nav navbar-nav">

					{{#if user}}
	      <li><a href="/">Home</a></li>
	      <li><a href="/categories">categories</a></li>
	      <li><a href="/products">products</a></li>

        {{#if user.is_admin}}
	      <li><a href="/sales">sales</a></li>
				<li><a href="/purchases">purchases</a></li>
        {{else}}
        {{/if}}
	    </ul>

			<ul class="nav navbar-nav navbar-right">
			{{#if user.is_admin}}
			<li><a href="/users"><span class="glyphicon glyphicon-log-in"></span> Manage users</a></li>
			{{/if}}
			<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			{{else}}

			<li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			{{/if}}
    </ul>
	  </div>
	</nav>
	{{{body}}}
</body>
<!-- background image using backstretch -->
<script src="/jquery.backstretch.min.js"></script>
<script>
$.backstretch(["/2.png"]);
</script>
</html>
