<h1>Add users</h1>

<form action="/users/add" method="POST">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username" value="{{username}}">
  </div>

  <div>
    <label for="email">E-mail</label>
    <input type="email" name="e-mail"  placeholder="email" value="{{email}}">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password" value="{{password}}">
  </div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>
