<h1>Categories</h1>

<div class="container">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>category</th>
    </tr>
  </thead>

  <tbody>
    {{#categories}}
      <tr>
        <td>{{category}}</td>
      </tr>
    {{/categories}}
  <tbody>
  </table>
</div>
