<h1>Categories</h1>

<!-- <button type "button" href="/categories/add">add category</button> -->

<a href="/categories/add" type="button" class="btn btn-primary">add category</a>

<div class="container">

  <table class="table table-bordered">
  <thead>
    <tr>
      <th>categories</th>
    </tr>
  </thead>

  <tbody>
    {{#categories}}
      <tr>
        <td>{{category}}</td>
        <td><a href="/categories/edit/{{id}}" type="button" class="btn btn-primary">Edit</a></td>
        <td><a href="/categories/delete/{{id}}" type="button" class="btn btn-primary">Delete</a></td>
      </tr>
    {{/categories}}
  </tbody>
  </table>

</div>
