<h1>Categories</h1>

{{#if is_admin}}
<a href="/categories/add" type="button" class="btn btn-primary">add category</a>
{{else}}
  <a></a>
{{/if}}

<form action="/categories/search/" method="post">
  <div class="form-group pull-right">
    <input type="text" id="searchBarCategories" name="search_value" class="search form-control" placeholder="search">
    <input type="submit" class="btn btn-primary">
 </div>
</form>

<div class="container">
  <table  id="categorySearch" class="table table-bordered">
  <thead>
    <tr>
      <th>categories</th>
    </tr>
  </thead>
  <tbody>
    {{#categories}}
      <tr>
        <td>{{category}}</td>

          {{#if ../is_admin}}
              <td><a href="/categories/edit/{{id}}" type="button" class="btn btn-primary">Edit</a></td>
              <td><a href="/categories/delete/{{id}}" type="button" class="btn btn-primary">Delete</a></td>
            <td></td>
          {{/if}}
      </tr>
    {{/categories}}
  </tbody>
 </table>
</div>


<script>
//search using ajax

$(document).ready(function() {
   $("#searchBarCategories").keyup(function() {
     var search_value = $("#searchBarCategories").val();
     $.post("/categories/search", {search_value : search_value} , function(results) {
       $("#categorySearch").html(results)
     });
   });
 });
</script>
<!-- </body> -->
