<h1>Edit users</h1>

<form action="/users/update/{{data.id}}" method="POST">
  <div>
	<label for="">Username</label>
	<input class="form-text" type="text" name="username" value="{{data.username}}">
</div>

<div>
  <label for="">Email</label>
  <input class="form-text" type="text" name="email" value="{{data.email}}">
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>
