<h1>Edit category</h1>

<form action="/categories/update/{{data.id}}" method="POST">

	<div class="">
		<label for="category">Edit category</label>
		<input class="form-text" type="category" name="category" value="{{data.category}}">
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>
