<h1>Products</h1>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>category</th>
      </tr>
    </thead>
    <tbody>

      {{#products}}
        <tr>
          <td>{{description}}</td>
          <td>{{category}}</td>
        </tr>
      {{/products}}
  </tbody>
 </table>
</div>
