<h1>Purchases</h1>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>purchase_date</th>
        <th>quantity</th>
        <th>cost</th>
        <th>product</th>
      </tr>
    </thead>

    <tbody>
    {{#purchases}}
        <tr>
          <td>{{purchase_date}}</td>
          <td>{{quantity}}
          <td>{{cost}}</td>
          <td>{{description}}</td>
        </tr>
    {{/purchases}}
    </tbody>
  </table>
</div>
