<h1>Sales</h1>

<div class="container">
  <table class="table table-striped">
      <tr>
        <th>selling_date</th>
        <th>quantity</th>
        <th>selling_prices</th>
        <th>product</th>
      </tr>
    </thead>
    <tbody>
        {{#sales}}
        <tr>
          <td>{{selling_date}}</td>
          <td>{{quantity}}</td>
          <td>{{selling_prices}}</td>
          <td>{{description}}</td>
        </tr>
        {{/sales}}
      </tbody>
    </table>
</div>
