<h1>Users</h1>

<a href="/users/add" type="button" class="btn btn-primary">add users</a>

<div class="container">

  <table class="table table-bordered">
  <thead>
    <tr>
      <th>username</th>
      <th>password</th>
    </tr>
  </thead>

  <tbody>
    {{#users}}
      <tr>
        <td>{{username}}</td>
        <td>{{password}}</td>
      </tr>
    {{/users}}
  </tbody>
  </table>

</div>
