body {
	background-color: lightgreen;
	font-family: Ubuntu, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

table {
  border-spacing: 30px;
  background-color: #eee;
  text-align: center;
}

thead {
  font-size: 20px;
}

h1 {
  text-align: center;
}

div {
  text-align: center;
}

label {
	font-weight: bold;
	font-size: 20px;
}


input[type=submit] {
	padding: 0.5em;
	border: 0.3em solid green;
	font-weight: bold;
	font-size: 1em;
};

input[type=text] {
	padding: 0.2em;
	font-size: 1.5em;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.field > label {
	width: 10px;
}
